<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MojioSDK-TestApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MojioSDKiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>51E5A8E61A7825BB00EEE3BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51E5A8F11A7825BB00EEE3BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51E5A9611A78279200EEE3BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51E5A9791A78279200EEE3BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
